<h1> Add New Department</h1>
<div class="container-fluid">
    <div class="row">
      <form action="post " >
            <div class="col-md-12">

                <label for="exampleInputEmail1">Name</label>
                <input type="email" class="form-control" id="exampleInputEmail1 txtName" aria-describedby="emailHelp">
                <span class="text-danger" id="ErrorName"></span>

            </div>
            <div class="col-md-12">
                <label for="exampleInputEmail1">Description</label>
                <textarea class="form-control" id="exampleInputEmail1 txtDescription" aria-describedby="emailHelp"></textarea>

            </div>
            <div class="col-md-12 pt-3">
                <button type="button" class="btn btn-outline-primary mt-1 " id="btnsubmit">Submit</button>
            </div>

      </form>
       
    </div>

</div>
 